################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HelloApplicationTests/bin/Debug
/HelloApplicationTests/obj/Debug
